mixin coursePreview(category, title, age, price, preview, color)
  li.big-news__item.col-xs-6.col-sm-4.col-md-3(data-cat=category, data-age=age, data-price=price class= color)
    img.big-news__photo(src=preview, height='240', width='240')
    .big-news__desc
      h3.big-news__title
        a(href='#')= title
      p.big-news__age= age + '+'
      a.big-news__link.basic-btn.yellow(href='#')
        i.fa.fa-link(aria-hidden='true') Дивитись

mixin coursePlan(lessonNumber, lessonDuration, lessonTitle)
  .row
    .course-plan.col-xs-12
      span.plan-wrapper
        span.lesson-number= 'Заняття '+lessonNumber
        span.lesson-title= ' - ' + lessonTitle
        span.lesson-duration= ' (' + lessonDuration + ' год)'

mixin lessonPlan(lessonNumber, lessonTitle, tasks, addititonalInfo)
  -var lessonNumber = +lessonNumber
  -var tasksNeedEnumeration = !!lessonNumber
  .row.lesson-desc
    .lesson-title
      if tasksNeedEnumeration
        h2= 'Заняття ' + lessonNumber + ': ' + lessonTitle
      else
        h2= lessonTitle
      img(src='./images/icons/logo-gear.svg', alt='')
    .lesson-tasks
      each task, index in tasks
        span.task-wrapper
          if tasksNeedEnumeration
            span= (index + 1) + '. '
          if task.subtitle
            span.task-subtitle= task.subtitle
          span.task-text= task.text
          if task.estimate
            span.task-estimate= ' (' + task.estimate + ')'
    if addititonalInfo
      span.additional-info= '* - ' + addititonalInfo