mixin course(category, title, age, price, preview, color)
  li.big-news__item.col-sm-3(data-cat=category, data-age=age, class= color)
    img.big-news__photo(src=preview, height='240', width='240')
    .big-news__desc
      h3.big-news__title
        a(href='#')= title
      p.big-news__age= age + '+'
      a.big-news__link.basic-btn.yellow(href='#')
        i.fa.fa-link(aria-hidden='true') Дивитись